* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.kat {
	/* Old browsers */
	background: #05515C;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-45deg, hsla(212, 40%, 35%, 1), hsla(188, 80%, 25%, 1));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, hsla(212, 40%, 35%, 1), hsla(188, 80%, 25%, 1));
	margin-top: 20px;
	margin-bottom: 10px;
	min-width: 400px;
	width: 35%;
	color: hsla(0, 0%, 100%, 1);
	display: inline-block;
	text-align: left;
	padding: 5px;
}

.kat a {
	color: hsla(0, 0%, 100%, 1);
}

.kat-content {
	/* Old browsers */
	background: #05515C;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-45deg, hsla(212, 40%, 35%, 0.4), hsla(188, 80%, 25%, 0.4));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, hsla(212, 40%, 35%, 0.4), hsla(188, 80%, 25%, 0.4));
	width: 70%;
	margin: 0 auto;
	padding: 5px;
	color: #333;
}

.joon {
	/* Old browsers */
	background: #72109C;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-45deg, hsla(290, 40%, 45%, 1), hsla(282, 81%, 34%, 1));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, hsla(290, 40%, 45%, 1), hsla(282, 81%, 34%, 1));
	margin-top: 20px;
	margin-bottom: 10px;
	min-width: 400px;
	width: 35%;
	color: hsla(290, 60%, 80%, 1);
	display: inline-block;
	text-align: right;
	padding: 5px;
}

.joon a {
	color: hsla(290, 60%, 80%, 1);
}

.joon-content {
	/* Old browsers */
	background: #72109C;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-45deg, hsla(290, 40%, 45%, 0.4), hsla(282, 81%, 34%, 0.4));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, hsla(290, 40%, 45%, 0.4), hsla(282, 81%, 34%, 0.4));
	width: 70%;
	margin: 0 auto;
	padding: 5px;
	color: #333;
}

.us-header {
	width: 150px;
	background-color: white;
	display: inline-block;
	height: 40px;
	margin: 0px -77px;
	position: relative;
	z-index: 10;
	padding: 8px;
	text-transform: uppercase;
	letter-spacing: 2px;
	top: 15px; }
  
	.us-footer {
	  width: 150px;
	  background-color: white;
	  display: inline-block;
	  height: 50px;
	  margin: 0px -77px;
	  position: relative;
	  z-index: 10;
	  padding: 8px;
	  text-transform: uppercase;
	  letter-spacing: 2px;
	  bottom: 50px; }
  
  .us-header a, .us-footer a {
	color: #333;
	text-decoration: none; }
}

.us-content {
	/* Old browsers */
	background: #999;
	/* Chrome 10-25, Safari 5.1-6 */
	background: -webkit-linear-gradient(-45deg, hsla(0, 0%, 60%, 0.4), hsla(0, 0%, 40%, 0.4));
	/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background: linear-gradient(-45deg, hsla(0, 0%, 60%, 0.4), hsla(0, 0%, 40%, 0.4));
	width: 70%;
	margin: 0 auto;
	padding: 5px;
	color: #333;
}


.site-header .kat, .site-header .joon {
	height: 70px;
}

.bold {
	font-weight: bold;
}

.site-header, .site-footer {
	text-align: center;
}

.svg-icon {
	height: 20px;
	width: 20px;
}

ul {
	list-style-type: none;
}

.page-content p {
	margin-bottom: 10px;
}

.home table {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}