/* General CSS */
:root {
    /* Dark Theme */
    --dark-one: #000000;
    --dark-two: #001427;
    --dark-three: #1B1B1B;
    --dark-four: #470B2E;
    --dark-five: #A0FFFF;

    /* Light Theme */
    --light-one: #AAAAAA;
    --light-two: #CCCCCC;
    --light-three: #DDDDDD;
    --light-four: #EEEEEE;

    /* Green Theme */
    --green-one: #004000;
    --green-two: #006E1E;
    --green-three: #009D3C;
    --green-four: #B6DC2B;

    /* Blue Theme */
    --blue-five: #FFFD95;
    --blue-four: #50D5F3;
    --blue-three: #FF95E5;
    --blue-two: #007DB6;
    --blue-one: #005084;
}

@font-face {
    font-family: 'Lexend Thin';
    src: url('./Lexend_Peta/static/LexendPeta-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend SemiBold';
    src: url('./Lexend_Peta/static/LexendPeta-SemiBold.ttf')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-header {
    width: 100vw;
}

#container-content {
    max-width: 1405px;
    margin: 0 auto;
}


/* Theme picker */
/* Text only visible to screen readers */
.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker > fieldset {
    position: relative;
    border: 0;
    display: flex;
    gap: 4rem;
    width: fit-content;
    padding: 1rem 3rem;
    margin-left: 0;
    border-radius: 0 0 1rem 0;
    z-index: 100;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1rem;
    height:1rem;
    outline: 2px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

/* Header and subheading */

header {
    position: relative;
    width: 50vw;
    min-width: 900px;
    margin-left: -10px;
    margin-top: -15px;
    padding: 30px;
    z-index: 99;
}

#name-headline {
    display: block;
    max-width: 600px;
    font-family: "Lexend Thin", sans-serif;
    font-weight: 100;
    padding: 0.3rem;
    font-size: 1.7rem;
    margin-inline: auto;
}

#subheadline {
    max-width: 600px;
    margin-left: auto;
    margin-right: 5rem;
    font-family: "Lexend Thin", sans-serif;
    font-size: 1.2rem;
    padding: 0.3rem;
    line-height: 1.3rem;
    text-align: right;
}


/* Language Picker */

#lang-picker {
    position: relative;
    top: -15px;
    margin-left: 25vw;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 75px;
    padding: 25px 25px 15px 25px;
    z-index: 25;
    font-family: "Lexend Thin", sans-serif;
}

/* Content area */

main {
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 265px 265px 265px 265px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            ". side box1  box2  box3  ."
            ". side box4  box5  box6  ."
            ". side box7  box8  box9  ."
            ". side box10 box11 box12 ."
            ". side box13 box14 box15 ."
            ". side box16 box17 box18 ."
            ". side box19 box20 box21 .";
    gap: 30px 20px;
    font-family: "Lexend Thin", sans-serif;
}

/* Boxes */
/* Layout */
.sidebar {
    width: 250px;
    grid-area: side;
    height: 328px;
    padding-bottom: 15px;
}

#box1 {
    grid-area: box1;
}

#box2 {
    grid-area: box2;
}

#box3 {
    grid-area: box3;
}

#box4 {
    grid-area: box4;
}

#box5 {
    grid-area: box5;
}

#box6 {
    grid-area: box6;
}

#box7 {
    grid-area: box7;
}

#box8 {
    grid-area: box8;
}

#box9 {
    grid-area: box9;
}

#box10 {
    grid-area: box10;
}

#box11 {
    grid-area: box11;
}

#box12 {
    grid-area: box12;
}

#box13 {
    grid-area: box13;
}

#box14 {
    grid-area: box14;
}

#box15 {
    grid-area: box15;
}

#box16 {
    grid-area: box16;
}

#box17 {
    grid-area: box17;
}

#box18 {
    grid-area: box18;
}

#box19 {
    grid-area: box19;
}

#box20 {
    grid-area: box20;
}

#box21 {
    grid-area: box21;
}

/* Content Boxes */
.small-boxes {
    width: 225px;
    height: 150px;
    perspective: 1000px;
}

.box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;

}

.small-boxes:hover .box-inner {
    transform: rotateY(180deg);
}

.box-front, .box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* required for Safari */
    backface-visibility: hidden;
}

.box-front {
    display: flex;
    justify-content: center;
    align-items: center;

}

.box-back {
    transform: rotateY(180deg);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filter Bar */
.sidebar ul {
    position: relative;
    left: 15px;
    top: 20px;
}

.sidebar ul li {
    list-style: none;
    margin-bottom: 15px;
}

.icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    margin-right: 0.5em;
    vertical-align: middle;
}

.icon-small {
    display: inline-block;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    vertical-align: middle;
}


/* Footer */

footer {
    margin-top: 50px;
    padding: 25px 0;
    width: 100%;
    height: auto;
    font-family: "Lexend Thin", sans-serif;
}

footer > p {
    padding: 5px 0;
    text-align: center;
}


/* Themes */
.light {
    a {
        color: var(--dark-one);
    }

    a:hover {
        text-decoration: overline underline;
    }

    .color-picker > fieldset {
        background-color: var(--light-one);
    }

    .color-picker input[type="radio"]:checked {
        background-color: var(--light-four);
    }

    .color-picker input[type="radio"]#green {
        --radio-color: var(--green-three);
    }

    .color-picker input[type="radio"]#blue {
        --radio-color: var(--blue-two);
    }

    .color-picker input[type="radio"]#dark {
        --radio-color: var(--dark-one);
    }

    .color-picker input[type="radio"]#light {
        --radio-color: var(--light-four);
    }

    header {
        background-color: var(--light-four);
        border: 1px solid var(--dark-one);
    }

    #name-headline {
        color: var(--dark-one);
    }

    #subheadline {
        color: var(--dark-one);
    }

    #lang-picker {
        background-color: var(--light-four);
        border: 1px solid var(--dark-one);
    }

    .sidebar {
        background-color: var(--light-four);
        border: 1px solid var(--dark-one);
    }

    .box-inner {
        border: 1px solid var(--dark-one);
    }

    .box-front {
        background-color: var(--light-four);
    }

    .box-back {
        background-color: var(--light-three);
    }

    footer {
        background-color: var(--light-four);
        border-top: 1px solid var(--dark-one);
    }
}

.green {
    a {
        color: var(--green-one);
    }

    a:hover {
        text-decoration: overline underline;
    }

    .color-picker > fieldset {
        background-color: var(--green-four);
    }

    .color-picker input[type="radio"]:checked  {
        background-color: var(--green-two);
    }

    .color-picker input[type="radio"]#green {
        --radio-color: var(--green-two);
    }

    .color-picker input[type="radio"]#light {
        --radio-color: var(--light-four);
    }

    .color-picker input[type="radio"]#blue {
        --radio-color: var(--blue-four);
    }

    .color-picker input[type="radio"]#dark {
        --radio-color: var(--dark-one);
    }

    header {
        background-color: var(--green-two);
        border: 2px solid var(--green-one);
    }

    #name-headline {
        color: var(--green-four)
    }

    #subheadline {
        color: var(--green-four);
    }

    #lang-picker {
        background-color: var(--green-four);
    }

    .sidebar {
        background-color: var(--green-two);
        border: 2px solid var(--green-one);
        color: var(--green-four);
    }

    .box-inner {
        color: var(--green-four);
        border: 2px solid var(--green-one);
    }

    .box-front {
        background-color: var(--green-two);
    }
    .box-back {
        background-color: var(--green-three);
    }

    footer {
        background-color: var(--green-one);
        color: var(--green-four);
    }

    footer a {
        color: var(--green-four);
    }
}

.blue {
    a {
        color: var(--blue-one);
    }

    a:hover {
        text-decoration: overline underline;
    }

    .color-picker > fieldset {
        background-color: var(--blue-three);
    }

    .color-picker input[type="radio"]:checked {
        background-color: var(--blue-one);
    }

    .color-picker input[type="radio"]#blue {
        --radio-color: var(--blue-one);
    }

    .color-picker input[type="radio"]#light {
        --radio-color: var(--light-four);
    }

    .color-picker input[type="radio"]#green {
        --radio-color: var(--green-three);
    }

    .color-picker input[type="radio"]#dark {
        --radio-color: var(--dark-one);
    }

    header {
        border: 2px solid var(--blue-two);
        background-color: var(--blue-five);
    }

    #name-headline {
        color: var(--blue-one);
    }

    #subheadline {
        color: var(--blue-one);
    }

    #lang-picker {
        background-color: var(--blue-three);
        border: 2px solid var(--blue-one);
    }

    .sidebar {
        background-color: var(--blue-five);
        border: 2px solid var(--blue-one);
        color: var(--blue-one);
    }

    .box-inner {
        border: 2px solid var(--blue-one);
        box-shadow: 10px 10px var(--blue-one);
    }

    .box-front {
        background-color: var(--blue-three);
        color: var(--blue-one);
    }
    .box-back {
        background-color: var(--blue-five);
        color: var(--blue-one);
    }

    footer {
        background-color: var(--blue-five);
        border-top: 2px solid var(--blue-one);
        color: var(--blue-one);
    }
}

.dark {
    a {
        color: var(--dark-five);
    }

    a:hover {
        text-decoration: overline underline;
    }

    .color-picker > fieldset {
        background-color: var(--dark-four);
    }

    .color-picker input[type="radio"]#dark {
        --radio-color: var(--dark-one);
    }

    .color-picker input[type="radio"]:checked {
         background-color: var(--dark-one);
    }

    .color-picker input[type="radio"]#green {
        --radio-color: var(--green-three);
    }

    .color-picker input[type="radio"]#light {
        --radio-color: var(--light-two);
    }

    .color-picker input[type="radio"]#blue {
        --radio-color: var(--blue-two);
    }

    header {
        border: 3px solid var(--dark-four);
        background-color: var(--dark-two);
    }

    #name-headline {
        color: var(--dark-five);
    }

    #subheadline {
        color: var(--dark-five);
    }

    #lang-picker {
        border: 3px solid var(--dark-four);
        background-color: var(--dark-two);
    }

    .sidebar {
        background-color: var(--dark-three);
        color: var(--dark-five);
        border: 3px solid var(--dark-four);
    }

    .box-inner {
        border: 3px solid var(--dark-four);
        background-color: var(--dark-three);
        color: var(--dark-five);
    }

    footer {
        border-top: 3px solid var(--dark-four);
        background-color: var(--dark-three);
        color: var(--dark-five);
    }

}