:root {
    --dark-gray: #222222;
    --light-gray: #AAAAAA;
    --almost-white: #DDDDDD;
    --really-white: #EFEFEF;
    --init-green: #009D3C;
    --init-green-light: #47DD80;
}

@font-face {
    font-family: 'Lexend Thin';
    src: url('./Lexend_Peta/static/LexendPeta-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend SemiBold';
    src: url('./Lexend_Peta/static/LexendPeta-SemiBold.ttf')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
}

#name-headline {
    display: block;
    max-width: 600px;
    color: var(--dark-gray);
    font-family: "Lexend Thin", sans-serif;
    font-weight: 100;
    padding: 0.3rem;
    border: 1px solid var(--almost-white);
    box-shadow: 25px 7px 5px var(--light-gray);
    margin: 2rem 40px;
    font-size: 1.75rem;
}

#working-at-init {
    display: block;
    max-width: 600px;
    color: var(--dark-gray);
    font-family: "Lexend Thin", sans-serif;
    font-size: 1.2rem;
    padding: 0.3rem;
    border: 1px solid var(--init-green-light);
    box-shadow: 25px 7px 5px var(--init-green);
    margin: 2rem 40px;
    line-height: 1.3rem;
}

#working-at-init > a {
    text-decoration: none;
    color: var(--dark-gray);
}

#working-at-init > a:hover {
    text-decoration: overline underline;
}

#container-all {
    max-width: 605px;
    margin: 0 auto;
}

main {
    margin: 0 40px;
}

section {
    max-width: 600px;
    padding: 15px;
}

.major-section-tab {
    background-color: var(--light-gray);
    width: 140px;
}

.major-section-header {
    padding: 5px;
    margin-top: 2rem;
    color: var(--really-white);
    font-family: "Lexend SemiBold", sans-serif;
}

.major-section {
    border: solid 1px var(--almost-white);
    margin-top: 0;
    margin-bottom: 30px;
}

#work-skills-container {
    display: flex;
    flex-direction: row;
}