/* General CSS */
:root {
    --dark-gray: #222222;
    --light-gray: #AAAAAA;
    --almost-white: #DDDDDD;
    --really-white: #EFEFEF;
    --init-green: #009D3C;
    --init-green-light: #47DD80;
    --light-blue: #00ABE7;
    --light-blue-pale: #42CDFF;
}

@font-face {
    font-family: 'Lexend Thin';
    src: url('./Lexend_Peta/static/LexendPeta-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Lexend SemiBold';
    src: url('./Lexend_Peta/static/LexendPeta-SemiBold.ttf')
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: var(--init-green);
}

hr {
    width: 80%;
    margin: 10px auto;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#container-header {
    width: 100vw;
}

#container-content {
    max-width: 905px;
    margin: 0 auto;
}

/* Theme picker */

.sr-only {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker > fieldset {
    position: relative;
    border: 0;
    display: flex;
    gap: 4rem;
    width: fit-content;
    background: var(--light-gray);
    padding: 1rem 3rem;
    margin-left: 0;
    border-radius: 0 0 1rem 0;
    z-index: 100;
}

.color-picker input[type="radio"] {
    appearance: none;
    width: 1rem;
    height:1rem;
    outline: 2px solid var(--radio-color, currentColor);
    outline-offset: 3px;
    border-radius: 50%;
}

.color-picker input[type="radio"]:checked {
    background-color: var(--dark-gray);
}

.color-picker input[type="radio"]#light {
    --radio-color: var(--almost-white);
}

.color-picker input[type="radio"]#green {
    --radio-color: var(--init-green);
}

.color-picker input[type="radio"]#blue {
    --radio-color: var(--light-blue);
}

.color-picker input[type="radio"]#dark {
    --radio-color: var(--dark-gray);
}

/* Header and subheading */

header {
    position: relative;
    border: 1px solid var(--init-green);
    max-width: 900px;
    margin-left: -10px;
    margin-top: -15px;
    padding: 30px;
    z-index: 99;
    background: var(--almost-white);
}

#name-headline {
    display: block;
    max-width: 600px;
    color: var(--dark-gray);
    font-family: "Lexend Thin", sans-serif;
    font-weight: 100;
    padding: 0.3rem;
    font-size: 1.75rem;
    margin-inline: auto;
}

#subheadline-green {
    max-width: 600px;
    margin-left: auto;
    margin-right: 5rem;
    color: var(--dark-gray);
    font-family: "Lexend Thin", sans-serif;
    font-size: 1.2rem;
    padding: 0.3rem;
    line-height: 1.3rem;
    text-align: right;
}

#subheadline-green > a {
    text-decoration: none;
    color: var(--dark-gray);
}

#subheadline-green > a:hover {
    text-decoration: underline;
}

/* Language Picker */

#lang-picker {
    position: relative;
    top: -15px;
    border: 1px solid blue;
    border-radius: 15px;
    width: fit-content;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-inline: auto;
    padding: 25px;
    z-index: 25;
    font-family: "Lexend Thin", sans-serif;
}

/* Content area */

main {
    margin: 0 40px;
    display: grid;
    grid-template-columns: 1fr 260px 260px 260px 1fr;
    grid-template-rows: auto;
    grid-template-areas:
            ". box1 box2 box3 ."
            ". box4 box5 box6 ."
            ". box7 box8 box9 .";
    gap: 30px 20px;
    font-family: "Lexend Thin", sans-serif;
}

.box1 {
    grid-area: box1;
}

.box2 {
    grid-area: box2;
}

.box3 {
    grid-area: box3;
}

.box4 {
    grid-area: box4;
}

.boxes {
    width: 225px;
    height: 150px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}



/* Footer */

footer {
    margin-top: 50px;
    padding: 25px 0;
    width: 100%;
    height: auto;
    background-color: var(--almost-white);
    font-family: "Lexend Thin", sans-serif;
}

footer > p {
    padding: 5px 0;
    text-align: center;
}